@import 'base/utils'
@import 'components'
@import 'transitions'

@import url('https://fonts.googleapis.com/css?family=Anton');


font-face($baldinger, 'baldinger', 500)
font-face($baldinger-bold, 'baldinger-bold')

html
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  touch-action none

body
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  font-family: 'Anton', sans-serif

*, *:before, *:after
  box-sizing border-box
  margin 0

ul
  margin 0
  padding 0
